<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="unit">
            <directory>Soneso/StellarSDKTests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Soneso/StellarSDKTests/Integration</directory>
        </testsuite>
        <testsuite name="all">
            <directory>Soneso/StellarSDKTests/Unit</directory>
            <directory>Soneso/StellarSDKTests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Soneso/StellarSDK</directory>
        </include>
        <exclude>
            <directory>Soneso/StellarSDKTests</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
    </coverage>
</phpunit>
